:root {
    background: lightpink;
  }

.container {
    display: flex; 
    flex-direction: column;
    font-family: roboto, sans-serif;
}

.header {
    display: flex; 
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px; 
    padding-left: 200px; 
    padding-right: 200px; 
    font-family: Brush Script MT, Courier New, sans-serif;
    text-shadow: 3px 3px 3px white;
    font-size: 70px;
    color: black;
    text-align: center; 
}

