:root {
    background: lightpink;
  }

.header {
    display: flex; 
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Brush Script MT, Courier New, sans-serif;
    text-shadow: 3px 3px 3px white;
    font-size: 70px;
    color: black;
    text-align: center; 
}

.middle {
    display: flex; 
    justify-content: center;
    text-align: center;
}

.grid {
    border: 2px solid purple; 
    box-shadow: 2px 5px;
    display: flex;
    width: 500px;
    height: 500px;
    flex-direction: column;
  }
  
  .grid div {
    background: white;
    border: 0.5px solid black;
    flex: 1; 
    display: flex; 
  }
