:root {
    background: lightpink;
  }

.header {
    display: flex; 
    justify-content: center;
    padding-top: 10px;
    font-family: Brush Script MT, Courier New, sans-serif;
    text-shadow: 3px 3px 3px white;
    font-size: 70px;
    color: black;
    text-align: center; 
}

.middle1 {
    display: flex; 
    justify-content: center;
    text-align: center;
}

.button1 {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Optima, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
  
.button1:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.button1:hover:after {
    transform: translate(0, 0);
}

.button1:active {
    background-color: #ffdeda;
    outline: 0;
}

.button1:hover {
    outline: 0;
}

@media (min-width: 768px) {
    .button1 {
    padding: 0 40px;
    }
}

.middle2 {
    display: flex; 
    justify-content: center;
    text-align: center;
}

.grid {
    border: 2px solid purple; 
    background-color: white;
    box-shadow: 2px 5px;
    display: flex;
    width: 500px;
    height: 500px;
    flex-direction: column;
}
  
.grid div {
    border: 0.5px solid black;
    flex: 1; 
    display: flex; 
}

.hover-block {
    background-color: grey;
}